:root {
  --docs-accent-color: #9580ff;
  --docs-accent-color-opacity: #9580ff60;
  --docs-accent-color-link: #9580ff;
}

.dark,
.light {
  --nextra-primary-hue: 250;
  --nextra-primary-hue-saturation: 100%;
  --nextra-primary-hue-lightness: 75%;
}

.light {
  --docs-accent-color: #644ed7;
  --docs-accent-color-link: #644ed7;
}

/* Code Snippet
  ------------------------ */
html[class~="light"] article pre {
  background-color: var(--docs-light-bg);
  border: solid 1px #e5e7eb;
}

html[class~="dark"] article pre {
  background-color: var(--docs-dark-bg);
  border: solid 1px #2a2a2a;
}