:root {
  --docs-accent-color: #9580ff;
  --docs-accent-color-opacity: #9580ff60;
  --docs-accent-color-link: #9580ff;
}

.dark,
.light {
  --nextra-primary-hue: 270;
  --nextra-primary-hue-saturation: 60%;
}

.light {
  --docs-accent-color: #644ed7;
  --docs-accent-color-link: #644ed7;
}
