:root {
  --docs-accent-color: #0971f1;
  --docs-accent-color-opacity: #349af960;
  --docs-accent-color-link: #349af9;
  --docs-light-bg: #e5e5e560;
  --docs-dark-bg: #2A2A2A60;
}

.dark {
  --nextra-primary-hue: 213;
  --nextra-primary-hue-saturation: 93%;
}

/* General
------------------------ */

html,
body,
kbd {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  -webkit-font-smoothing: "antialiased";
}

body {
  overflow-y: scroll;
  font-size: 17px;
}

.nextra-sidebar-container,
.nextra-toc,
.nextra-body {
  padding-top: 1.5rem;
}

.nextra-sidebar-container,
.nextra-toc-content {
  height: calc(100vh - 6.5rem);
}

.nextra-nav-container nav,
.nextra-content-container {
  box-sizing: border-box;
  padding: 0 2rem;
}


@media (max-width: 1440px) {
  .nextra-nav-container nav,
  .nextra-content-container {
    padding: 0 1rem;
  }
}

@media (max-width: 640px) {
  .nextra-nav-container nav,
  .nextra-content-container {
    padding: 0;
  }
}

/* General colors
------------------------ */

.dark .dark\:text-gray-400,
.dark .text-gray-500 {
  color: #999 !important;
}

.dark .dark\:bg-dark {
  background-color: #0e0e0e;
}

.light body {
  color: #0E0E0E;
}

.dark body {
  color: #C5C5C5;
}

.dark p strong {
  color: #fff;
}

/* Link
------------------------ */
a,
li a {
  text-decoration: none;
}

p a,
li a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.01em;
  text-decoration-color: var(--docs-accent-color-opacity);
}

p a:hover,
li a:hover {
  text-decoration-color: var(--docs-accent-color-link);
}


/* Nav
------------------------ */

.nextra-container .nextra-nav-container .nextra-nav-container-blur {
  border: none;
  box-shadow: none !important;
}

.dark .nextra-container .nextra-nav-container .nextra-nav-container-blur {
  background-color: #0e0e0e;
}

.nextra-nav-container nav {
  height: 6rem;
}
.logo {
  margin-top: 6px;
}

.centerNav {
  margin-top: 4px;
  font-weight: 500;
}

.centerNav input {
  font-weight: 500;
}

.nextra-nav-container + div,
.nextra-nav-container nav {
  max-width: 100%;
}

.centerNav a:first-child {
  padding-left: 4px;
}

.nextra-container .nextra-nav-container {
  border-top: 4px solid var(--docs-accent-color);
}


@media (max-width: 640px) {
  .logo {
    flex-shrink: 1;
  }

  .rightMenuWrap {
    justify-content: flex-end;
  }
}


/* Search Input
------------------------ */
.dark .nextra-search input,
.dark .nextra-search input:focus {
  background-color: #0d0d0d;
  border-color: #252525ff;
}

.dark .nextra-search input::placeholder {
  color: #e5e5e560;
}



/* Sidebar
------------------------ */
.nextra-sidebar-menu {
  border: none;
}

.nextra-toc-meta,
.nextra-sidebar-menu {
  box-shadow: none !important;
}

.nextra-toc-content ul li a,
.nextra-container .nextra-sidebar ul li.active a,
.nextra-container .nextra-sidebar ul li.active a:hover {
  font-weight: normal;
}

.light .nextra-container .nextra-sidebar ul li a {
    color: #0E0E0E;
}

.light .nextra-container .nextra-sidebar ul li.active a {
    color: var(--docs-accent-color);
}

.light .nextra-container .nextra-sidebar ul li a:hover,
.light .nextra-container .nextra-sidebar ul li.active a:hover  {
    background-color: var(--docs-light-bg);
}

.dark .nextra-container .nextra-sidebar ul li a:hover,
.dark .nextra-container .nextra-sidebar ul li.active a:hover {
  background-color: var(--docs-dark-bg);
}

.dark .nextra-container .nextra-sidebar ul li.active a,
.dark .nextra-toc-content ul li a[aria-selected="true"] {
  color: #fff;
  background-color: transparent;
}

.dark .nextra-container .nextra-sidebar ul li.active a:hover,
.dark .nextra-toc-content ul li a[aria-selected="true"]:hover {
  color: #fff;
}

.wip {
  position: relative;
  display: flex;
  opacity: 0.5;
}

.wip:after {
  content: "WIP";
  border-radius: 2px;
  padding: 2px;
  font-size: 9px;
  line-height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -35%);
  opacity: 0.6;
}


/* Content
------------------------ */

main div.mt-12 {
  display: none;
}

.nextra-breadcrumb {
  pointer-events: none;
  display: none;
}

.nextra-navigation-links {
  margin-top: 6rem;
  padding-bottom: 4rem;
  border: none;
}


.dark article p a,
.dark article li a,
.dark .dark\:hover\:text-primary-500:hover {
  color: var(--docs-accent-color-link) !important;
}



/* Keyboard Shortcut
------------------------ */
p kbd {
  border-radius: 4px;
  font-size: 13px;
  padding: 6px;
  padding-bottom: 7px;
  line-height: 14px;
  font-weight: bold;
}

.light p kbd {
  color: rgb(75, 85, 99);
  background: rgb(75 85 99 / 12%);
  box-shadow: rgb(75 85 99 / 24%) 0px -2px 0px inset;
}

.dark p kbd {
  background: rgb(42 42 42);
  box-shadow: rgb(255 255 255 / 12%) 0px -2px 0px inset;
  color: #c5c5c5;
}


/* Code Snippet
------------------------ */
.light article pre {
    background-color: var(--docs-light-bg);
    border: solid 1px #e5e7eb;
}

.dark article pre {
  background-color: var(--docs-dark-bg);
  border: solid 1px #2A2A2A;
}


/* Inline Code Snippet
------------------------ */

.light p code {
  background-color: var(--docs-light-bg);
  border: solid 1px #e5e7eb;
}

.dark p code {
  background-color: var(--docs-dark-bg);
  border: solid 1px #373737;
  color: #999999;
}


/* Callout
------------------------ */

.callout {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.callout .pr-2 {
  padding-right: 1rem;
}

.light .callout {
  color: rgb(65 65 65 / 90%);
  background-color: var(--docs-light-bg);
}
.dark .callout {
  background:  var(--docs-dark-bg);
  color: #999999 !important;
}
