:root {
  --docs-accent-color: #eaff96;
  --docs-accent-color-opacity: #eaff9660;
  --docs-accent-color-link: #eaff96;
}

.light {
  --docs-accent-color: #000;
  --docs-accent-color-link: #000;
  --docs-accent-color-opacity: #00000060;
}

.dark,
.light {
  --nextra-primary-hue: 100;
  --nextra-primary-hue-saturation: 0%;
}
