:root {
  --docs-accent-color: #0971f1;
  --docs-accent-color-opacity: #349af960;
  --docs-accent-color-link: #349af9;
}

.dark {
  --nextra-primary-hue: 213;
  --nextra-primary-hue-saturation: 93%;
}
