.title {
  font-size: 6rem !important;
  line-height: 100% !important;
}

.subtitle {
  margin-top: 1rem !important;
  font-size: 1.9rem !important;
  line-height: 130% !important;
  margin-bottom: 3rem !important;
  max-width: 45rem !important;
  opacity: 0.8 !important;
}

@media (max-width: 640px) {
  .title {
    font-size: 3rem !important;
  }

  .subtitle {
    font-size: 1.5rem !important;
  }
}
