.title {
  font-size: clamp(3.2rem, 6vw, 5rem) !important;
}

.subtitle {
  font-weight: 500;
  margin-top: 2rem !important;
  margin-bottom: 3rem !important;
  font-size: clamp(1.2rem, 3vw, 1.7rem) !important;
  line-height: 130% !important;
  max-width: 45rem !important;
  opacity: 0.8 !important;
}
